<div class="back-ground">
  <div class="title"> <h1>Home Cocktails</h1></div>

  <!-- <h2>Season:</h2> -->

 <div class="container">

    <h2>All-(<%=@cocktails.count%>)-</h2>
    <% @cocktails.each do |cocktail| %>
    <div class="flex">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path cocktail.cocktail_image.key if cocktail.cocktail_image.attached? %>)">
        <div class="suprise"> <%=link_to cocktail.name, "cocktails/#{cocktail.id}" %> </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
